In [16]:
import pandas as pd
import pyarrow.parquet as pq
from time import time

In [2]:
pd.__version__

'2.1.4'

In [5]:
!ls

Dockerfile
Untitled.ipynb
ny_taxi_postgres_data;D
pipeline.py
yellow_tripdata_2023-01.parquet

In [20]:
df = pd.read_parquet('yellow_tripdata_2023-01.parquet')

In [4]:
df = df.head(100)

In [5]:
df

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,2,2023-01-01 00:20:38,2023-01-01 00:21:26,1.0,0.08,1.0,N,75,75,2,3.0,1.00,0.5,0.00,0.0,1.0,5.50,0.0,0.00
96,2,2023-01-01 00:09:16,2023-01-01 00:30:17,1.0,6.22,1.0,N,138,95,2,31.0,6.00,0.5,0.00,0.0,1.0,39.75,0.0,1.25
97,2,2023-01-01 00:46:56,2023-01-01 00:59:16,1.0,4.56,1.0,N,132,218,1,20.5,1.00,0.5,5.75,0.0,1.0,30.00,0.0,1.25
98,2,2023-01-01 00:10:50,2023-01-01 00:20:19,1.0,1.41,1.0,N,264,186,1,10.7,1.00,0.5,3.92,0.0,1.0,19.62,2.5,0.00
99,2,2023-01-01 00:27:35,2023-01-01 00:37:49,1.0,1.70,1.0,N,264,114,1,11.4,1.00,0.5,2.00,0.0,1.0,18.40,2.5,0.00

In [6]:
df.passenger_count = df.passenger_count.astype(int)

In [7]:
df.RatecodeID = df.RatecodeID.astype(int)

In [8]:
### to get schema of pandas dataframe
print(pd.io.sql.get_schema(df,name="yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" INTEGER,
  "trip_distance" REAL,
  "RatecodeID" INTEGER,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [12]:
### to get schema of pandas dataframe
print(pd.io.sql.get_schema(df,name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count INTEGER,
	trip_distance FLOAT(53),
	"RatecodeID" INTEGER,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [18]:
from sqlalchemy import create_engine

In [19]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [22]:
engine

Engine(postgresql://root:***@localhost:5432/ny_taxi)

In [16]:
parquet_file = pq.ParquetFile('yellow_tripdata_2023-01.parquet')
# parquet_file.iter_batches(100000)

In [17]:
for batch in parquet_file.iter_batches(100000):
    t_start = time()
    batch.to_pandas().to_sql(name="yellow_taxi_data", con=engine, if_exists='append')
    t_end = time()
    print('total time of inserted chunck is {} sec'.format(t_end-t_start))

total time of inserted chunck is 13.34968638420105 sec
total time of inserted chunck is 12.149429082870483 sec
total time of inserted chunck is 13.66459321975708 sec
total time of inserted chunck is 12.014906406402588 sec
total time of inserted chunck is 12.546748161315918 sec
total time of inserted chunck is 12.108911275863647 sec
total time of inserted chunck is 12.719528913497925 sec
total time of inserted chunck is 12.759626388549805 sec
total time of inserted chunck is 12.1384437084198 sec
total time of inserted chunck is 12.66115927696228 sec
total time of inserted chunck is 15.655454158782959 sec
total time of inserted chunck is 15.598796129226685 sec
total time of inserted chunck is 16.263699531555176 sec
total time of inserted chunck is 15.571579694747925 sec
total time of inserted chunck is 14.57456350326538 sec
total time of inserted chunck is 15.696057558059692 sec
total time of inserted chunck is 16.471032857894897 sec
total time of inserted chunck is 15.950215578079224 sec
total time of inserted chunck is 16.740491151809692 sec
total time of inserted chunck is 14.601052522659302 sec
total time of inserted chunck is 12.634858131408691 sec
total time of inserted chunck is 13.514669179916382 sec
total time of inserted chunck is 11.907994985580444 sec
total time of inserted chunck is 12.728124618530273 sec
total time of inserted chunck is 12.314741134643555 sec
total time of inserted chunck is 11.799955368041992 sec
total time of inserted chunck is 12.689544677734375 sec
total time of inserted chunck is 12.285930871963501 sec
total time of inserted chunck is 12.477736473083496 sec
total time of inserted chunck is 12.755934953689575 sec
total time of inserted chunck is 7.930936813354492 sec

In [42]:
len(batch_df)

100000

In [15]:
#to create the table :dataframe without rows with structure only
df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [44]:
#to create the table :dataframe without rows with structure only
batch_df.head(n=0).to_sql(name='yellow_taxi_data', con=engine, if_exists='replace')

0

In [10]:
!ls

Dockerfile
ingest_data.py
ny_taxi_postgres_data
output.csv.gz
pd_test_pandas_connection.ipynb
pipeline.py
upload-data.ipynb
week01_notes.yml
yellow_tripdata_2023-01.parquet

In [27]:
df_create = pd.read_csv('output.csv.gz', nrows=1)

In [26]:
df_create

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [28]:
### to get schema of pandas dataframe
print(pd.io.sql.get_schema(df_create.head(0),name="yellow_taxi_data",con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TEXT,
	tpep_dropoff_datetime TEXT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount BIGINT,
	extra BIGINT,
	mta_tax FLOAT(53),
	tip_amount BIGINT,
	tolls_amount BIGINT,
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)